<form class="mt-5" method="GET" action="/news">
  <div class="form-group">
    <label for="exampleInputEmail1">Keywords</label>
    <input type="text" class="form-control" name ="q" id="exampleInputEmail1" placeholder="Enter keyword...">
    <input type="text" class="form-control" name ="name" id="exampleInputEmail1" placeholder="Enter keyword...">
    <input type="text" class="form-control" name ="age" id="exampleInputEmail1" placeholder="Enter keyword...">
   
  </div>
 
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<form class="mt-5" method="POST" >
  <div class="form-group">
    <label for="exampleInputEmail1">Keywords</label>
    <input type="text" class="form-control" name ="q" id="exampleInputEmail1" placeholder="Enter keyword...">
  </div>
    <select name="genter" id="">
        <option value="">--gender--</option>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
  <button type="submit" class="btn btn-primary">Search</button>
</form>